:root {
    --color-title:#2E2F42;
    --color-text:#434455;
    --color-accent:#4D5AE5; 
    --color-white: #FFFFFF;
    --color-but-active: #404BBF;
    --color-light: #F4F4FD;
    --color-soft: #E7E9FC;
    --color-border-icons: #8E8F99; 
    --color-icon-hover: #31D0AA;

    --transition-dur-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


body {
    font-family: "Roboto", sans-serif ;
    color: var(--color-accent);
}


.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}

@media screen and (min-width: 428px) {
    .container {
        max-width: 428px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
    }
}



@media screen and (max-width: 767.98px) {
    .menu {
        display: none;
    }
    .contacts {
        display: none;
    }

        .page-header-container {
            padding-left: 15px;
            padding-right: 15px;
            margin: 0;
            max-width: 100%;
        }

        /* ----MOBILE MENU----- */
    
        .mobile-menu {
            position: fixed;
            width: 100vw;
            height: 100vh;
            z-index: 1000;
            top: 0;
            left: 0;
            background-color: var(--color-white);
    
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: opacity var(--transition-dur-func), visibility var(--transition-dur-func);
        }
    
        .mobile-menu.is-open {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }
    
        .mobile-menu-close {
            position: absolute;
            top: 40px;
            right: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;
            background-color: var(--color-soft);
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            padding: 0;
            cursor: pointer;
            transition: border var(--transition-dur-func), background-color var(--transition-dur-func), fill var(--transition-dur-func);
        }
    
        .mobile-menu-container {
            position: relative;
            padding: 80px 40px 40px 40px;
            height: 100vh;
            width: 100vw;
            display: flex;
            flex-direction: column; 
        }
    
        .menu-link-mobile {
            font-weight: 600;
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            color: var(--color-title);
    
            transition: color var(--transition-dur-func)
        }
    
        .menu-link-mobile:hover,
        .menu-link-mobile:focus {
            color: var(--color-accent);
        }
    
        .page-nav-mobile {
            margin-bottom: auto;
        }

        .menu-item-mobile:not(:last-child) {
            margin-bottom: 40px;
        }
    
        .contact-phone-mobile-link {
            font-weight: 500;
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            color: var(--color-accent);
        }
    
        .contact-phone-mobile-item {
            margin-bottom: 40px;
        }
    
        .contact-mail-mobile-link {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: var(--color-text);
        }
    
        .contact-mail-mobile-item {
            margin-bottom: 48px;
        }
    
        .social-list-mobile {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .menu-link-mobile.current {
            color: var(--color-accent);
        }
    
        /* .social-list-item-mobile:not(:last-child) {
            margin-right: 56px;
        } */
    
        .social-icon {
            fill: var(--color-light);
        }
    
        .social-link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: var(--color-accent);
        }
    
        .social-icon {
            fill: var(--color-light);
        }

        .page-header {
            padding-top: 24px;
            padding-bottom: 24px;
            background: var(--color-white);
            box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);  
        }
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    height: 32px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: var(--color-title);
    text-transform: uppercase;
}

.logo-span {
    color: var(--color-accent);
}


/* Стили для планшета_______________ */

@media screen and (min-width: 768px) {

    .page-header {
        background: var(--color-white);
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }

    .mobile-menu {
        display: none;
    }
    .mobile-menu-open {
        display: none;
    }

    .page-header {
        padding-top: 24px;
            
    }

    .page-nav {
        display: flex;
        align-items: center;
    }

    .menu {
        display: flex;
        align-items: center;
    }

    .menu-link.current {
        color: var(--color-accent);
        padding-bottom: 0;
    }

    .menu-link.current::after {
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        margin-top: 20px;
    
        background-color: var(--color-accent);
        border-radius: 2px;
    }
    
    .menu-item:not(:last-child) {
        margin-right: 40px;
    }

    .menu-link {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-title);
        
        padding-bottom: 24px;
        transition: color var(--transition-dur-func)
    }
    
    .menu-link:hover,
    .menu-link:focus {
        color: var(--color-accent);
    }

    .logo {
        margin-right: 120px;
        padding-bottom: 24px;
    }

    .contacts {
        margin-left: auto;
    }
    
    .contact-mail {
        display: block;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-text);
        margin-right: 40px;
        
        padding-bottom: 4px;
        transition: color var(--transition-dur-func)
    }
    
    .contact-mail:hover,
    .contact-mail:focus {
        color: var(--color-accent);
    }
    
    .contact-phone-number {
        display: block;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-text);
        
        padding-bottom: 9px;
        transition: color var(--transition-dur-func)
    }
    
    .contact-phone-number:hover,
    .contact-phone-number:focus {
        color: var(--color-accent);
    }
}

/* Стили для десктопа_____________ */

@media screen and (min-width: 1200px) {
    .page-header {
        background: var(--color-white);
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
        padding: 0;
    }

    .page-nav {
        display: flex;
        align-items: center;
    }

    .logo {
        padding-bottom: 0;
    }
    
    .menu,
    .contacts {
        display: flex;
        align-items: center;

    }
    .menu-link.current {
        color: var(--color-accent);
        padding-bottom: 0;
    }

    .menu-link.current::after {
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        margin-top: 20px;
    
        background-color: var(--color-accent);
        border-radius: 2px;
    }
    
    .menu-item:not(:last-child) {
        margin-right: 40px;
    }

    .menu-link {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-title);
        padding-top: 24px;
        padding-bottom: 24px;
        transition: color var(--transition-dur-func)
    }
    
    .menu-link:hover,
    .menu-link:focus {
        color: var(--color-accent);
    }
    
    .contacts {
        margin-left: auto;
    }
    
    .contact-mail {
        display: block;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-text);
        margin-right: 40px;
        padding-top: 24px;
        padding-bottom: 24px;
        transition: color var(--transition-dur-func)
    }
    
    .contact-mail:hover,
    .contact-mail:focus {
        color: var(--color-accent);
    }
    
    .contact-phone-number {
        display: block;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-text);
        padding-top: 24px;
        padding-bottom: 24px;
        transition: color var(--transition-dur-func)
    }
    
    .contact-phone-number:hover,
    .contact-phone-number:focus {
        color: var(--color-accent);
    }
}


/* ============HERO============= */
.hero {
    margin: 0 auto;
    text-align: center;
    background: var(--color-title);
    background-repeat: no-repeat;
    background-size: cover;
    /* phone______ */
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../img/hero/bg_mob@1x.jpg);
}



@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../img/hero/bg_mob@2x.jpg);
    }
  }
  /* screen  >= 767px */
@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../img/hero/bg_tablet@1x.jpg);
    }
}

@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../img/hero/bg_tablet@2x.jpg);
    }
}

/* screen  >= 1200px */
@media screen and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../img/hero/bg_desk@1x.jpg);
    }
}

@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen (min-resolution: 2dppx) (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../img/hero/bg_desk@2x.jpg);
    }
}



/* Phone____________ */
@media screen and (max-width: 767.98px) {
    .hero-title {
        font-weight: 500;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--color-white);
        margin-bottom: 72px;
        margin-left: auto;
        margin-right: auto;
        max-width: 318px;
        }

    .hero {
        padding-top: 112px;
        padding-bottom: 112px;
        max-width: 767.98px;
        }

    .hero-button {
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        align-items: center;
        letter-spacing: 0.04em;
        color: var(--color-white);
        background-color: var(--color-accent);
        border: none;
        border-radius: 4px;
        cursor: pointer;
        padding: 16px 32px;
        transition: background-color var(--transition-dur-func), box-shadow var(--transition-dur-func);
        }
    
        .hero-button:hover,
        .hero-button:focus {
            background-color: #404BBF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
}

/* Tablet______________ */

@media screen and (min-width: 768px) {
    .hero-title {
            font-weight: 500;
            font-size: 56px;
            line-height: 1.07;
            text-align: center;
            letter-spacing: 0.02em;
            color: var(--color-white);
            margin-bottom: 40px;
            margin-left: auto;
            margin-right: auto;
            max-width: 494px;
        }

    .hero {  
        padding-top: 112px;
        padding-bottom: 137px;
    }

    .hero-button {
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        align-items: center;
        letter-spacing: 0.04em;
        color: var(--color-white);
        background-color: var(--color-accent);
        border: none;
        border-radius: 4px;
        cursor: pointer;
        padding: 16px 32px;
        transition: background-color var(--transition-dur-func), box-shadow var(--transition-dur-func);
    }
    
    .hero-button:hover,
    .hero-button:focus {
        background-color: #404BBF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

/* Desktop___________ */

@media screen and (min-width: 1200px) {
    .hero-title {
        font-weight: 500;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--color-white);
        margin-bottom: 48px;
    }

    .hero {
        padding-top: 192px;
        padding-bottom: 192px;
        max-width: 1440px;
    }

    .hero-button {
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        align-items: center;
        letter-spacing: 0.04em;
        color: var(--color-white);
        background-color: var(--color-accent);
        border: none;
        border-radius: 4px;
        cursor: pointer;
        padding: 16px 32px;
        transition: background-color var(--transition-dur-func), box-shadow var(--transition-dur-func);
    }
    
    .hero-button:hover,
    .hero-button:focus {
        background-color: #404BBF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}



/* ===================ABOUT============== */



/* Phone____________ */
@media screen and (max-width: 767.98px) {
    .about-logo {
        display: none;
    }

    .section {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .about-title,
    .filter-title {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .about-list-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--color-title);
        margin-bottom: 8px;
        text-align: center;
    }

    .about-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-text);
    }

    .about-item:not(:last-child) {
        margin-bottom: 72px;
    }
}


/* Tablet__________ */

@media screen and (min-width: 768px) {

    .about-logo {
        display: none;
    }

    .about-title,
    .filter-title {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .section {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .about-list-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--color-title);
        margin-bottom: 8px;
    }

    .about-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .about-item:nth-child(2n+1) {
        margin-right: 24px;
    }
    
    .about-item {
        width: calc((100% - 48px)/2);
    }

    .about-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-text);
    }

    .about-item:not(:nth-last-child(-n + 2)) {
        margin-bottom: 72px;
    }
}


/* Desk___________ */

@media screen and (min-width: 1200px) {

    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    
    .about-item:not(:last-child) {
        margin-right: 24px;
    }
    
    .about-item {
        width: calc((100% - 72px)/4);
    }

    .about-item:not(:nth-last-child(-n + 2)) {
        margin-bottom: 0;
    }
    
    .about-title,
    .filter-title {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
    
    .about-list-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--color-title);
        margin-bottom: 8px;
    }
    
    .about-logo {
        display: block;
    }
    
    .about-bg {
        display: flex;
        height: 112px;
        justify-content: center;
        align-items: center;
        background-color: var(--color-light);
        margin-bottom: 8px;
    }
}



/* ======================WORKS======================= */

@media screen and (max-width: 1200px) {
    .works {
        display: none;
    }
}

.works  {
    padding-top: 0;
}

.work-item {
    width: calc((100%-48px)/3);
}

.works-title,
.team-title,
.customers-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-title);
    margin-bottom: 72px;
}

.work-list {
    display: flex;
    flex-wrap: wrap; 
}

.work-list:not(:last-child) {
    margin-right: 24px;
}


/* =====================TEAM===================== */

/* Phone_____________ */
@media screen and (max-width: 767.98px) {
    .team {
        background: var(--color-light);
    }

    .team-item {
        margin-left: auto;
        margin-right: auto;

    }

    .team-title-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--color-title);
        margin-bottom: 8px;
    }

    .team-name-position {
        padding: 32px 15px;
        text-align: center;
        border-radius: 0px 0px 4px 4px;
    }

    .position {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-text);
    }

    .team-item {
        background: var(--color-white);
        width: 260px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }

    .team-item:not(:last-child) {
        margin-bottom: 72px;
    }

    .social-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--color-accent);
    }
    
    .social-list {
        display: flex;
        justify-content: center;
        margin-top: 12px;
    }
    
    .social-list-item:not(:last-child) {
        margin-right: 24px;
    }
    
    .social-icon {
        fill: var(--color-light);
    }
}


/* __________Tablet___________ */

@media screen and (min-width: 768px) {
    .team-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .team {
        background: var(--color-light);
        
    }

    .team-title-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--color-title);
        margin-bottom: 8px;
    }

    .team-name-position {
        padding: 32px 16px;
        text-align: center;
        border-radius: 0px 0px 4px 4px;
    }

    .position {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-text);
    }

    .team-item {
        background: var(--color-white);
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }

    .team-item:nth-child(2n+1) {
        margin-right: 24px;
    }

    .team-item:not(:nth-last-child(-n + 2)) {
        margin-bottom: 72px;
    }

    .social-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--color-accent);
    }
    
    .social-list {
        display: flex;
        justify-content: center;
        margin-top: 12px;
    }
    
    .social-list-item:not(:last-child) {
        margin-right: 24px;
    }
    
    .social-icon {
        fill: var(--color-light);
    }
}


/* Desktop____________ */
@media screen and (min-width: 1200px) {

    .team-item {
        background: var(--color-white);
        width: calc((100% - 72px)/4);
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }

    .team-item:not(:last-child) {
        margin-right: 24px;
    }

    .team-item:not(:nth-last-child(-n + 2)) {
        margin-bottom: 0;
    }
}



/* ===========================CUSTOMERS====================== */

/* Phone_____________ */
@media screen and (max-width: 767.98px) {
    .customers-link {
        display: flex;
        fill: var(--color-border-icons);
        border: 1px solid var(--color-border-icons);
        border-radius: 4px;
        padding: 16px 40px;
        transition: border var(--transition-dur-func), fill var(--transition-dur-func);
    }

    .customers-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .customers-item:nth-child(2n+1) {
        margin-right: 16px;
    }

    .customers-item:not(:nth-last-child(-n + 2)) {
        margin-bottom: 72px;
    }

    .customers-link:hover,
    .customers-link:focus {
        border: 1px solid var(--color-accent);
        fill: var(--color-accent);
    }
}

/* Tablet___________ */
@media screen and (min-width: 768px) {
    .customers-link {
        display: flex;
        fill: var(--color-border-icons);
        border: 1px solid var(--color-border-icons);
        border-radius: 4px;
        padding: 16px 32px;
        transition: border var(--transition-dur-func), fill var(--transition-dur-func);
    }
    .customers-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .customers-item:not(:nth-child(3n)) {
        margin-right: 24px;
    }

    .customers-item:nth-child(-n + 3) {
        margin-bottom: 72px;
    }

    .customers-link:hover,
    .customers-link:focus {
        border: 1px solid var(--color-accent);
        fill: var(--color-accent);
    }
}

/* Desktop____________ */
@media screen and (min-width: 1200px) {
    .customers-item {
        width: calc((100% - 120px)/6);
    }
    
    .customers-item:not(:last-child) {
        margin-right: 24px;
    }
    .customers-item:nth-child(-n + 3) {
        margin-bottom: 0px;
    }
}




/* ================FOOTER===================== */

/* Phone_____________ */
@media screen and (max-width: 767.98px) {
    .footer {
        background-color: var(--color-title);
        padding-top: 96px;
        padding-bottom: 96px;
    }
    .logo-footer {
        color: var(--color-light);
    }
    .footer-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-soft);
        width: 264px;
        margin-top: 16px;
        margin-bottom: 72px;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-box {
        text-align: center;
    }

    .footer-social {
        margin-bottom: 72px;

    }
    .footer-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-white);
    }
    .social-link-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        transition: background-color var(--transition-dur-func);
    }
    
    
    .footer-social-item:not(:last-child) {
        margin-right: 16px;
    }
    
    .footer-social-icon {
        fill: var(--color-light);
    }
    
    .social-link-footer:hover,
    .social-link-footer:focus {
        background-color: var(--color-icon-hover)
    }

    .text-footer-form {
        margin-bottom: 16px;
        color: var(--color-white);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .footer-form-input {
        background-color: var(--color-title);
        color: var(--color-white);
        width: 100%;
        max-width: 396px;
        min-height: 40px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        padding: 8px 16px;
        font-size: 12px;
        line-height: 1.33;
        margin-bottom: 16px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        transition: border-color var(--transition-dur-func);
    }
    
    .footer-form-input:focus {
        outline: none;
        border-color: var(--color-accent);
    }
    
    .footer-form-input::placeholder {
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.04em;
        color: rgba(255, 255, 255, 0.6);
    }
    
    .btn-footer {
        min-width: 165px;
        height: 40px;
        align-self: center;
        font-size: 16px;
        line-height: 1.19;
        display: flex;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        letter-spacing: 0.04em;
        color: var(--color-white);
        background-color: var(--color-accent);
        border: none;
        border-radius: 4px;
        cursor: pointer;
        padding: 8px 24px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        transition: background-color var(--transition-dur-func), box-shadow var(--transition-dur-func);
    }
    
    .btn-footer:hover,
    .btn-footer:focus {
        background-color: #404BBF;
    }
    
    .icon-send {
        margin-left: 16px;
    }
}


/* Tablet___________ */
@media screen and (min-width: 768px) {
    .footer {
        background-color: var(--color-title);
        padding-top: 96px;
        padding-bottom: 96px;
    }
    .logo-footer {
        color: var(--color-light);
    }
    .footer-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-soft);
        width: 264px;
        margin-top: 16px;
    }
    .footer-logo-social {
        display: flex;
    }

    .logo-text {
        margin-right: 24px;
        margin-bottom: 72px;
        margin-left: 108px;
    }
    .footer-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
        color: var(--color-white);
    }
    
    .social-link-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        transition: background-color var(--transition-dur-func);
    }
    
    .footer-social-item:not(:last-child) {
        margin-right: 16px;
    }
    
    .footer-social-icon {
        fill: var(--color-light);
    }
    
    .social-link-footer:hover,
    .social-link-footer:focus {
        background-color: var(--color-icon-hover)
    }
    .footer-form-container {
        margin-left: 108px;
    }
        
    .text-footer-form {
        margin-bottom: 16px;
        color: var(--color-white);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
        
    .footer-form {
        display: flex;
    }
        
    .footer-form-input {
        background-color: var(--color-title);
        color: var(--color-white);
        min-width: 264px;
        min-height: 40px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        padding: 8px 16px;
        font-size: 12px;
        line-height: 1.33;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        transition: border-color var(--transition-dur-func);
    }   
    .footer-form-input:focus {
        outline: none;
        border-color: var(--color-accent);
    }    
    .footer-form-input::placeholder {
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.04em;
        color: rgba(255, 255, 255, 0.6);
    }    
    .btn-footer {
        display: flex;
        justify-content: center;
        margin-left: 24px;
        min-width: 165px;
        height: 40px;
        align-self: center;
        font-size: 16px;
        line-height: 1.19;
        align-items: center;
        letter-spacing: 0.04em;
        color: var(--color-white);
        background-color: var(--color-accent);
        border: none;
        border-radius: 4px;
        cursor: pointer;
        padding: 8px 24px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        transition: background-color var(--transition-dur-func), box-shadow var(--transition-dur-func);
    }    
    .btn-footer:hover,
    .btn-footer:focus {
        background-color: #404BBF;
    }    
    .icon-send {
        margin-left: 16px;
    }
}


/* Desktop____________ */
@media screen and (min-width: 1200px) {

    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .footer-box {
        display: flex;
    }

    .footer-social {
        margin-left: 120px;
    }

    .logo-text {
        margin: 0;
    }

    .footer-form-container {
        margin-left: 80px;
    }
}



/* =================FILTER================== */


/* Phone_____________ */
@media screen and (max-width: 767.98px) {
    .filter-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: flex-start;
        padding-top: 48px;
        padding-bottom: 48px;
    }

    /* .container {
        margin: 0;
    } */

.btn {
        font-family: inherit;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        display: flex;

        /* align-items: center;
        text-align: center; */
        letter-spacing: 0.04em;
        color: var(--color-accent);
        background: var(--color-light);
        border: 1px solid var(--color-soft);
        border-radius: 4px;
        cursor: pointer;
        padding: 12px 24px;
        transition: color var(--transition-dur-func), background-color var(--transition-dur-func), box-shadow var(--transition-dur-func), border var(--transition-dur-func);
    }

    .btn:hover,
    .btn:focus {
        color: var(--color-white);
        background-color: var(--color-accent);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border: 1px solid var(--color-accent);
    }

    .btn-active {
        color: var(--color-white);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        background-color: var(--color-accent);
        border: 1px solid var(--color-accent);
    }
}

/* Tablet___________ */
@media screen and (min-width: 768px) {
    .filter-list {
        display: flex;
        text-align: center;
        gap: 24px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .btn {
        font-family: inherit;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: var(--color-accent);
        background: var(--color-light);
        border: 1px solid var(--color-soft);
        border-radius: 4px;
        cursor: pointer;
        padding: 12px 24px;
        transition: color var(--transition-dur-func), background-color var(--transition-dur-func), box-shadow var(--transition-dur-func), border var(--transition-dur-func);
    }

    .btn:hover,
    .btn:focus {
        color: var(--color-white);
        background-color: var(--color-accent);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border: 1px solid var(--color-accent);
    }

    .btn-active {
        color: var(--color-white);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        background-color: var(--color-accent);
        border: 1px solid var(--color-accent);
    } 
}


/* Desktop____________ */
@media screen and (min-width: 1200px) {

    .filter-list {
        padding-top: 96px;
        padding-bottom: 72px;
    }
}





/* =================PORTFOLIO================== */


/* Phone_____________ */
@media screen and (max-width: 767.98px) {
.list-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--color-title);
        margin-bottom: 8px;
    }

    .portfolio-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-text);
    }


    .portfolio-list {
        /* display: flex;
        flex-wrap: wrap; */
        margin-left: auto;
        margin-right: auto;
    }

    .portfolio-item {
        width: 95vw;
        max-width: 360px;
        /* margin-left: 24px; */
        margin-bottom: 48px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
        transition: box-shadow var(--transition-dur-func);
    }

    .portfolio-item:hover,
    .portfolio-item:focus {
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.16);
    }



    .portfolio-border {
        border: 0.5px solid var(--color-light);
        padding-top: 32px;
        padding-bottom: 32px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .portfolio-overlay {
        position: relative;
        overflow: hidden;
    }

    .overlay {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 40px 32px;
        width: 100%;
        height: 100%;
        overflow: auto;
        transform: translate(0, 100%);
        transition: transform var(--transition-dur-func);
        color: var(--color-light);
        background-color: var(--color-accent);
    }

    .portfolio-link:hover .overlay,
    .portfolio-link:focus .overlay {
        transform: translate(0, 0);
    }
}

/* Tablet___________ */
@media screen and (min-width: 768px) {
.list-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--color-title);
        margin-bottom: 8px;
    }

    .portfolio-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-text);
    }


    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        margin-top: -72px;
        margin-left: -24px;
        margin-bottom: 96px;
    }

    .portfolio-item {
        
        width: 356px;
        margin-left: 24px;
        margin-top: 72px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
        transition: box-shadow var(--transition-dur-func);
    }

    .portfolio-item:hover,
    .portfolio-item:focus {
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.16);
    }



    .portfolio-border {
        border: 0.5px solid var(--color-light);
        padding-top: 32px;
        padding-bottom: 32px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .portfolio-overlay {
        position: relative;
        overflow: hidden;
    }

    .overlay {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 40px 32px;
        width: 100%;
        height: 100%;
        overflow: auto;
        transform: translate(0, 100%);
        transition: transform var(--transition-dur-func);
        color: var(--color-light);
        background-color: var(--color-accent);
    }

    .portfolio-link:hover .overlay,
    .portfolio-link:focus .overlay {
        transform: translate(0, 0);
    }
}

/* Desktop____________ */
@media screen and (min-width: 1200px) {
        .portfolio-list {
            margin-bottom: 120px;
            margin-top: -48px;
        }
    
        .portfolio-item {
            width: calc(100%/3 - 24px);
            /* margin-left: 24px; */
            margin-top: 48px;
            /* box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
            transition: box-shadow var(--transition-dur-func); */
        }
    
        /* .portfolio-item:hover,
        .portfolio-item:focus {
            box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.16);
        }
    
    
    
        .portfolio-border {
            border: 0.5px solid var(--color-light);
            padding-top: 32px;
            padding-bottom: 32px;
            padding-left: 16px;
            padding-right: 16px;
        }
    
        .portfolio-overlay {
            position: relative;
            overflow: hidden;
        }
    
        .overlay {
            position: absolute;
            left: 0;
            top: 0;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            padding: 40px 32px;
            width: 100%;
            height: 100%;
            overflow: auto;
            transform: translate(0, 100%);
            transition: transform var(--transition-dur-func);
            color: var(--color-light);
            background-color: var(--color-accent);
        }
    
        .portfolio-link:hover .overlay,
        .portfolio-link:focus .overlay {
            transform: translate(0, 0);
        } */

}


/* ==========================MODAL WINDOW================================= */

.backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--transition-dur-func), visibility var(--transition-dur-func);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95vw;
    max-width: 408px;
    height: 95vh;
    max-height: 590px;
    background-color: #FCFCFC;
    border-radius: 4px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 3px rgba(0, 0, 0, 0.12);
    padding: 72px 24px 24px 24px;
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: var(--color-soft);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    transition: border var(--transition-dur-func), background-color var(--transition-dur-func), fill var(--transition-dur-func);
    
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--color-but-active);
    border: none;
    fill: var(--color-white);
}

.text-modal {
    color: var(--color-title);
    font-weight: 500;
    font size: 16px;
    line height: 1.5;
    text-align: center;
    margin-bottom: 16px;
}

/* ======================MODAL FORM==================== */

.modal-form {
    display: flex;
    flex-direction: column;
    letter-spacing: 0.04em;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 38px;
    font-size: 12px;
    line-height: 1.33;
    transition: border-color var(--transition-dur-func);
}

.modal-form-input:focus {
    outline: none;
    border-color: var(--color-accent);
}

.modal-form-input-desc {
    display: block;
    font-size: 12px;
    line-height: 1.33;
    margin-bottom: 4px;
    color: var(--color-border-icons);
}

.modal-form-filed {
    margin-bottom: 8px;
}

.modal-form-input-wrapper {
    position: relative;
    display: block;
}

.modal-form-input-icon {
    position: absolute;
    top: 50%;
    left: 19px;
    transform: translateY(-50%);
    display: block;
    transition: fill var(--transition-dur-func);
}

.modal-form-input:focus + .modal-form-input-icon {
    fill: var(--color-accent);
}

.modal-form-comment {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.33;
    transition: border-color var(--transition-dur-func);
}

.modal-form-comment::placeholder {
    font-size: 12px;
    line-height: 1.33;
    color: rgba(117, 117, 117, 0.5);
}

.modal-form-comment:focus {
    outline: none;
    border-color: var(--color-accent);
}



.modal-form-check-desc::before {
    width: 16px;
    height: 16px;
    display: block;
    border: 1.25px solid var(--color-title);
    cursor: pointer;
    border-radius: 2px;
    content: '';
    margin-right: 8px;
}

.modal-form-check {
    appearance: none;
}

.modal-form-check:checked + .modal-form-check-desc::before {
    background-color: var(--color-but-active);
    background-image: url("../img/svg/user-policy.svg");
    border: none;
    background-repeat: no-repeat;
    background-position: center;
}

.modal-form-check:focus+.modal-form-check-desc::before {
    outline: 1px solid var(--color-accent);
}

.modal-form-check-desc {
    font-size: 12px;
    line-height: 1.33;
    color:#757575 ;
    display: flex;
    margin-bottom: 24px;
}

.modal-form-submit {
    min-width: 169px;
    align-self: center;
    font-size: 16px;
    line-height: 1.19;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--color-white);
    background-color: var(--color-accent);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color var(--transition-dur-func), box-shadow var(--transition-dur-func);
}
    
.modal-form-submit:hover,
.modal-form-submit:focus {
    background-color: #404BBF;
    }





